/* Please note this is only tested in the latest versions of Edge, Chrome, and Firefox. */
body {
  font: $base-font-size;
  margin: 0;
  position: relative;
}

h1 {
  margin: $padding-sm 0; /* 10px 0 */
}

@media print {
  body {
    font-size: $base-font-size-print;
  }
}
